{% extends 'diary/base.html'%}
{% load static%}

{% block title %}日記作成|private Diary{% endblock %}

{%block active_diary_list%}active{%endlock%}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class = "my-div-style w-100">
            <from method="POST" enctype='multipart/form-date'>
                {% csrf_token %}
                <table class ="table">
                    {{form.as_table}}
                </table>
                <button class ="btn btn-primary"type="submit">作成</button>
                </from>
            </div>
        </div>
    </div>
    {%endlock%}